.menu-background {
    -fx-background-color: #FFE2E2;
}

.menu-background StackPane {
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.back-button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
}

.back-button:hover {
    -fx-text-fill: #a5a5a5;
    -fx-font-size: 18px;
}

.pane-table {
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.cell-of-table {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: #E2FFFF;
}

.top-cell-of-table {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: #FFF1E2;
}