.add_word_container {
    -fx-background-color: #FFE2E2;
}

.logo_add_word_container {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-alignment: center;
}

.logo_add_word_container Label {
    -fx-fill: #FFFFFF;
    -fx-font-family: "Freestyle Script";
    -fx-font-size: 5em;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.new_word_field {
    -fx-background-color: #f3f3f3;
    box-shadow: inset 2px 2px 3px 0 #555;
    -fx-background-radius: 20;

}

.new_word_field Label {
    -fx-background-color: #8785A2;
    -fx-background-radius: 20 0 0 20;
    -fx-font-family: "Showcard Gothic";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
}

.new_word_field TextField {
    -fx-background-color: transparent;
}

.definition_field {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 20;
}

.definition_field TextArea {
    -fx-background-color: #f3f3f3;
    -fx-control-inner-background: #f3f3f3;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.definition_field TextArea .content {
    -fx-background-color: #f3f3f3;
}

.definition_field TextArea:focused .content {
    -fx-background-color: #f3f3f3;
}

.definition_field TextArea:focused, input:focused{
    outline: none;
}

.definition_field Label {
    -fx-background-color: #8785A2;
    -fx-background-radius: 20 20 0 0;
    -fx-font-family: "Showcard Gothic";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
}

.error_notification {
    -fx-text-fill: #ff0000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 15px;
}

.success_notification {
    -fx-text-fill: #098000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 15px;
}

.confirm_button {
    -fx-background-radius: 20;
    -fx-background-color: #B1D9F6;
}