.api-background {
    -fx-background-color: #E2E2FF;
}

.language-area {
    -fx-background-color: #fff;
    -fx-background-radius: 15;
    -fx-border-width: 10;
    -fx-border-radius: 10;
    -fx-border-color: #8785A2;
}

.language-area TextArea {
    -fx-padding: 15px 5px 15px 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-size: 1.2em;
}

.language-area TextArea .content {
    -fx-background-color: #fff;
}

.language-area TextArea:focused .content {
    -fx-background-color: #fff;
}

.language-area TextArea .scroll-bar {
    -fx-background-color: transparent;
}

.language-area TextArea .scroll-bar:vertical .thumb {
    -fx-background-color: #c8c8c8;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.language-area TextArea .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.first-language {
    -fx-background-color: #FFE2E2;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-border-color: #8785A2;
}

.first-language Label, .second-language Label {
    -fx-font-weight: bold;
}

.second-language {
    -fx-background-color: #E2FFE2;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-border-color: #8785A2;
}

.button {
    -fx-background-color: #FFFFE2;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, #4c4c4c, 10, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #f3f3b1;
    -fx-border-color: #000;
    -fx-border-radius: 10;
    -fx-border-width: 0.7;
}

.limit_letter {
    -fx-background-color: transparent;
    -fx-text-fill: #132A13;
    -fx-font-size: 18px;
    -fx-font-family: "Gill Sans Ultra Bold";
}