.menu_bar {
    -fx-background-color: #5885FF;
}

.search_box {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #000000, 15, 0, 0, 2) ;
}