.save_background {
    -fx-background-color: #ededed;
}

.flash_card {
    -fx-background-color: #d0ffc5;
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #c8c8, 15, 0, 15, 15);
}

.flash_card Label {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.left_right_bar {
    -fx-background-color: transparent;
}

.left_right_bar Button {
    -fx-background-color: transparent;
}

.left_right_bar Button:hover {
    -fx-cursor: hand;
}

.left_right_bar Label {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #000000;
    -fx-font-family: Papyrus;
    -fx-font-size: 2em;
}