.search {
    -fx-background-color: #FFDBA8;
}

.search-box {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #000000, 15, 0, 0, 2) ;
}

.search-box FontAwesomeIconView {
    -fx-fill: #FFB753;
}

.search-box TextField {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.search-box Button {
    -fx-background-color: transparent;
}

.search-box Button:hover {
    -fx-cursor: hand;
}

.search-box Button FontAwesomeIconView {
    -fx-fill: #FFB753;
}

.list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-radius: 5;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
    -fx-padding: 5;
}

.list-view .list-cell:even {
    -fx-background-color: #FFD08F;
}

.list-view .list-cell:odd {
    -fx-background-color: #FFDBA8;
}

.list-view .list-cell:filled:hover,
.list-view .list-cell:filled:selected {
    -fx-background-color: #FFF200;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.searched-word-box {
    -fx-background-color: #FFC675;
    -fx-background-radius: 20;
}

.searched-word-box Button {
    -fx-background-color: transparent;
}

.searched-word-box Button:hover {
    -fx-cursor: hand;
}

.definition-area {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-border-radius: 50;
}

.definition-area TextArea {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.definition-area TextArea .content {
    -fx-background-color: #fff;
}

.definition-area TextArea:focused .content {
    -fx-background-color: #fff;
}