@font-face {
    font-family: Valoon;
    src: url(../Fonts/Valoon.ttf) format('truetype');
}

.search {
    -fx-background-color: #FFE2E2;
}

.search-box {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #4c4c4c, 15, 0, 0, 2);
}

.search-box FontAwesomeIconView {
    -fx-fill: #fac57f;
}

.search-box TextField {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.search-box Button {
    -fx-background-color: transparent;
}

.search-box Button:hover {
    -fx-cursor: hand;
}

.search-box Button FontAwesomeIconView {
    -fx-fill: #fac57f;
}

.list-view {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-weight: 600;
    -fx-font-size: 1.2em;
    -fx-padding: 5;
    overflow: scroll;
    -fx-effect: dropshadow(three-pass-box, #4c4c4c, 15, 0, 0, 2);
}

.list-view .scroll-bar {
    -fx-background-color: #ffffde;
}

/*.list-view .scroll-bar:vertical .decrement-button, .list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .increment-arrow {
    -fx-opacity: 0;
}*/

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #c8c8c8;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: #ffffde;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .list-cell:even {
    -fx-background-color: #ffffde;
}

.list-view .list-cell:odd {
    -fx-background-color: #ffecd5;
}

.list-view .list-cell:filled:hover,
.list-view .list-cell:filled:selected {
    -fx-background-color: #ebecae;
    -fx-text-fill: #000000;
}

.searched-word-box {
    -fx-background-color: #FFC7C7;
    -fx-background-radius: 20;
}

.searched-word-box Button {
    -fx-background-color: transparent;
}

.searched-word-box Label {
    -fx-font-size: 24px;
    -fx-font-family: Valoon;
    -fx-text-fill: #36346C;
}

.definition-area {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-border-radius: 50;
}

.definition-area TextArea {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.definition-area TextArea .content {
    -fx-background-color: #fff;
}

.definition-area TextArea:focused .content {
    -fx-background-color: #fff;
}

.definition-area TextArea .scroll-bar {
    -fx-background-color: transparent;
}

.definition-area TextArea .scroll-bar:vertical .thumb {
    -fx-background-color: #c8c8c8;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.definition-area TextArea .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}